@{
    ViewData["Title"] = "Biblioteca Page";
}

<div class="text-center">
    <h1 class="display-4" style="background-color: aquamarine;">Bienvenido</h1>
    <p>Bienvenido al <a href="https://docs.microsoft.com/aspnet/core">mejor lugar para reservar un Libro</a>.</p>
</div>


